@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

body{
    background-color: #ffffff;
    background-image: url(../img/bg.png);     
    background-repeat: no-repeat;  
    box-sizing: border-box;
}

.desemprego{
    border: 2px solid #00ff00;
    text-align: center;
    background-color:  rgba(7, 20 ,70, .5);
    margin-top: 8%;
}

.desemprego h2{
    color: #00FF00;
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 500;
}

.desemprego p{
    font-family: 'Roboto';
    font-size: 16px;
    color: #c4c4c4;
}

.imagem{
    max-width: 700px;
    max-height: 400px;
    border: 2px solid rgb(63, 63, 63);
}

.efeito-imagem:hover{   
    transition: 1.3s;    
    filter: contrast(110%)
}

.proposta{
    background-color: #ffffff;
    color: #2c2c2c;
    font-family: 'Roboto';
    margin-top: 1%;
    font-size: 20px;    
    text-align: center;    
}

.proposta a{
    color: #043858;
    text-decoration: none;
    font-weight: bold;
    margin-top: 6%;
}

#nossaspropostas, #conclusao h1{
    font-family: 'Oswald';
    color: #007db8;
    font-weight: bolder;
}

.titulo-conclusao{
    font-family: 'Oswald';
    color: #007db8;
    font-weight: bolder;
}

.paragrafo-conclusao{
    font-family: 'Roboto';    
    font-size: 18px;
    font-weight: bolder;
    color: #000;
}

/* ESTILO MENU*/
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 1px solid rgb(0, 255, 0);
}

.navbar-custom{
    background-image: linear-gradient(to right, #071446 ,#071446);
    text-transform: uppercase;
    font-weight: bolder;
    color: #e6e6e6;
}

.navbar-custom a{
    color: #e6e6e6;
}

.navbar-custom a:hover{
    transition: 1s;
    color: #00FF00;
}

.navbar-custom a:active{
    transition: 1s;
    color: #e6e6e6;
}

.navbar ul{
    margin: 0 auto;
}
/* FIM ESTILO MENU */

/* ESTILO TOPO */
.topo{
    text-align: left;
    margin-top: 7%; 
}

.titulo-h1{
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 500;    
    color: #00ff00;
}

.paragrafos{
    font-family: 'Roboto';
    margin-top: -7%;
    font-size: 20px;
    color: #c4c4c4;
    font-weight: bold;
    text-align: left;
}

@media(max-width: 574px) {
    .paragrafos{
        font-family: 'Roboto';
        margin-top: 6%;
        font-size: 20px;
        color: #c4c4c4;
        font-weight: bold;
        text-align: center
    }

    .titulo-h1{
        font-size: 30px;
        font-family: 'Oswald';
        font-weight: 500;    
        color: #00ff00;
        text-align: center;
    }
}

.center{
    text-align: center;
}

/* LIDERANÇA*/
.lideranca, .pilares{
    background-color: #252525;
    color: #cfcfcf;
    min-width: 100% !important; 
}

.lideranca h2{
    margin-top: 2%;
    margin-bottom: 3%;
    color: #00ff00;
    font-family: 'Oswald';
}

.lideranca h3{
    margin-bottom: 2%;
    color: #00ff00;
    font-family: 'Oswald';
}

.lideranca p{
    font-size: 17px;
    font-family: 'Roboto';
}

.lideranca-efeito:hover{
    border: 1px solid #00ff00;
    transition: 1.3s;
    padding: 15px;
    font-weight: bold;
    filter: saturate(90%);
}

.pilares h2, h4{
    color: #e28b09;
    margin-top: 4%;
    font-family: 'Oswald';
    text-transform: uppercase;
}


.pilares p{
    font-family: 'Roboto';
    font-size: 18px;
    color: #c4c4c4;
    text-align: center;
    margin-top: 3%;
}
/* FIM LIDERANÇA */

/* ESTUDO DE CASO */
.estudo-caso h3{
    margin-top: 2%;
    margin-bottom: 3%;
    font-weight: bolder;
    color: #007db8;
    font-family: 'Oswald';
}

.estudo-caso a {
    color: #007db8;
    font-family: 'Oswald';
}

.estudo-caso a:hover {
    transition: 1.5s;
    color: #0d638b;
}
.estudo-caso h4{
    font-family: 'Oswald';
    font-weight: bolder;
    font-size: 33px;
    color: #007db8;
}

.estudo-caso p{
    font-family: 'Roboto';
    color: #2c2c2c;
    font-weight: 600;    
    font-size: 17px;
    text-align: left;
}

.dell-ajust{
    float: right;    
    margin-right: 3%;
}

.estudo-caso span{
    font-size: 12px;
}

.estudo-caso h5{
    color: #007db8;
    font-weight: bolder;
    font-family: 'Oswald';
    font-size: 24px;
}
/* FIM ESTUDO DE CASO */

/* FIM ESTILO TOPO */

/* RODAPÉ */
footer{
    background-image: linear-gradient(to right, #071446 ,#071446);
    color: #e6e6e6;
    box-sizing: border-box;
    min-width: 100% !important;
    height: auto;   
    text-align: center;
}

footer h4{
    font-size: 18px;
    font-family: 'Roboto';
    margin-top: 18px;
    margin-bottom: 50px;
    color: #c4c4c4;
}

footer h5{
    margin-top: 15px;
    font-family: 'Roboto';
    font-size: 16px;
}

.margin-footer{
    margin-top: 59px;
}

/* FIM RODAPÉ */